* {
  box-sizing: border-box;
}

.box {
  width: 500px;
}

/* .box__title__container { */
/*   width: auto; */
/* } */

.box__title {
  text-align: center;
  font-size: 48px;
  color: #2e7ad3;
  /* margin: 45px; */
}

.box__article {
  padding: 25px;
  background: #f1f1f1;
}

.box__article__title {
  font-size: 32px;
  color: #104c90;
  margin: 0;
}

a {
  color: #ff8000;
  font-weight: 800;
}

.box__images__photo {
  margin: 0;
  padding: 9px 0;
  width: 100%;
}

p {
  font-size: 16px;
}
