body {
  margin: 0;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

/* Typography */

.main__title {
  color: rgba(255, 255, 255, 0.85);
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 2px;
}

.main__title-highlight {
  color: #ffffff;
  font-weight: 900;
}

.main__subtitle {
  color: rgba(255, 165, 0, 0.8);
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.sign-up__input {
  height: 35px;
  width: 90%;
  margin: 0.5em;
  border-radius: 0.25rem;
  border: 0.5px solid gray;
  text-align: center;
  transform: scale(1);
  transition: transform 250ms;
}

.sign-up__input:focus {
  transform: scale(1.05);
}

.sign-up__notice {
  margin: 1.5em 0 5em;
  font-size: 0.75rem;
  font-weight: 400;
}

.body__title {
  font-weight: 900;
}

.body__subtitle {
  color: rgba(255, 136, 50, 0.85);
  font-weight: 900;
}

.body__paragraph {
  font-weight: 400;
  line-height: 1.8;
  max-width: 420px;
}

/* Layout */

.main__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.image__container {
  padding: 1em;
  width: 100%;
  min-height: 480px;
  background-image: url(images/dark-ribs.jpg);
  background-color: #707070;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: 50vh;
}

.body__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  text-align: center;
}

.sign-up__form {
  display: flex;
  flex-direction: column;
}

.sign-up__register-btn {
  background-image: linear-gradient(to left, #ff713b, #ffa51d);
  border: none;
  border-radius: 0.5em;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 900;
  width: 90%;
  height: 35px;
  margin: 0.5em;
  transform: scale(1);
  transition: transform 250ms;
}

.sign-up__register-btn:focus,
.sign-up__register-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
  border: 0;
}

@media (min-width: 520px) {
  .main__container {
    flex-direction: row;
  }

  .image__container {
    width: 65%;
    min-height: 100vh;
  }

  .body__container {
    width: 35%;
    padding: 0.5em;
  }
}

@media (min-width: 1024px) {
  .main__title {
    font-size: 3rem;
    max-width: 720px;
  }

  .main__subtitle {
    font-size: 1.25rem;
  }

  .image__container {
    width: 70%;
    height: 960px;
  }
}

@media (min-width: 1200px) {
  .image__container {
    width: 70%;
    height: 1024px;
  }
}
