body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* Container */

.container--max-width {
  margin: 0 auto;
}

/* 720 940 1140 */
@media (min-width: 768px) {
  .container--max-width {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container--max-width {
    max-width: 940px;
  }
}

@media (min-width: 1200px) {
  .container--max-width {
    max-width: 1140px;
  }
}

/* Heading */

.header__container {
  background: #000;
  margin: 0 auto;
  padding: 1.6em 1em;
}

.header__container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.header-logo__container {
  display: flex;
  align-items: center;
}

/* .header-logo__image { */
/*   display: block; */
/*   width: 100%; */
/* } */

.nav__container-wrapper {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  padding-top: 0.25em;
  margin: 0;
}

.xm__homepage-btn {
  display: none;
  padding-right: 3em;
}

.english-btn {
  display: none;
  padding-right: 0.25em;
}

.nav__button {
  color: #fff;
  text-decoration: none;
}

.nav__items {
  display: flex;
  align-items: center;
  padding: 0 0.65em;
}

.nav__items--small-dots {
  display: flex;
  font-size: 0.4rem;
  color: #fff;
}

.nav__items--small-dot {
  padding: 0.25em;
}

.nav__items--home-icon {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.1rem;
}

/* Bonus-offer */

.bonus-offer__container {
  background-image: url(images/hero-background.webp);
  color: #fff;
  background-size: cover;
  background-position: center;
  background-color: #0d192d;
  padding: 5em 0.5em;
  margin: 0 auto;
}

.bonus-offer__container-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.bonus-offer__banner-heading {
  font-size: 1.25rem;
  font-weight: 400;
}

.bonus-offer__title {
  font-size: 3rem;
  font-weight: 700;
}

.bonus-offer__button-container {
  margin: 2.5em 0;
}

/* .bonus-offer__cta-container { */
/*   margin: 0 auto; */
/* } */

/* .bonus-offer__cta-button { */
/*   display: flex; */
/*   flex-direction: column; */
/*   font-size: 1.5rem; */
/*   font-weight: 700; */
/*   text-decoration: none; */
/*   color: #fff; */
/*   background: #238c38; */
/*   padding: 0.25em; */
/*   width: 250px; */
/*   height: 60px; */
/* } */

/* .bonus-offer__cta-button:focus, */
/* .bonus-offer__cta-button:hover { */
/*   background: darkgreen; */
/* } */

/* .bonus-offer__cta-text { */
/*   padding-top: 0.25em; */
/*   font-size: 0.75rem; */
/*   font-weight: 300; */
/* } */

/* .bonus-offer__cta-disclaimer { */
/*   font-size: 0.75rem; */
/*   font-weight: 300; */
/* } */

/* XM App */

.xm-app__container {
  margin: 0 auto;
}

.xm-app__container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  margin: 0 auto;
}

.xm-app__body {
  padding-bottom: 3em;
  width: 100%;
}

.xm-app__items-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.xm-app__intro {
  text-align: left;
  max-width: 300px;
}

.xm-app__item {
  display: block;
  text-align: left;
  list-style-type: none;
  padding: 1em;
  font-weight: 700;
}

.xm-app__item-icon--green {
  color: green;
}

.qr-code__container {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}

.qr-code__image {
  width: 100px;
  display: block;
}

.qr-code__info {
  margin: 0;
  padding: 1em;
  text-align: left;
  max-width: 210px;
}

.xm-app__image {
  display: block;
  width: 250px;
}

@media (min-width: 768px) {
  .qr-code__container {
    justify-content: flex-start;
  }

  .xm-app__image {
    width: 300px;
  }

  .xm__homepage-btn {
    display: block;
  }

  .nav__items--home-icon {
    display: none;
  }

  .english-btn {
    display: block;
  }
}

/* Join */

.join__container {
  background: rgba(236, 236, 236, 0.75);
  margin: 0 auto;
  padding: 0 1em;
}

.join__container-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.join__title,
.join__subtitle {
  text-align: center;
}

.join-items__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-direction: column; */
  gap: 5em;
}

.join-item__container {
  display: flex;
}

.join-item__container-divier {
  display: flex;
  flex-direction: column;
}

.join-item__container {
  display: flex;
  flex-direction: column;
}

.join-item__subtitle {
  max-width: 250px;
  text-align: left;
}

.open-account__container-wrapper {
  margin: 3em 0;
}

.open-account__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.open-account__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #238c38;
  padding: 0.25em;
  width: 250px;
  height: 60px;
}

.open-account__button {
  font-size: 1.75rem;
  display: block;
  text-decoration: none;
  color: #fff;
}

.open-account__button-wrapper:focus,
.open-account__button-wrapper:hover {
  background: darkgreen;
}

.open-account__subtitle {
  font-size: 0.75rem;
  display: block;
}

.open-account__disclaimer {
  padding-top: 0.25em;
  font-size: 0.75rem;
  font-weight: 300;
}

@media (min-width: 768px) {
  .join-item__container--row {
    flex-direction: row;
  }
}

/* Awards */
.award__container {
  margin: 0 auto;
  padding: 0 1em;
}

.award__container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.award__subtitle {
  max-width: 720px;
}

.awards-box__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.award-box__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 230px;
  width: 210px;
  padding: 2em;
  margin-bottom: 1em;
  background: rgba(240, 240, 240, 0.85);
  border-radius: 10px;
}

.award-box__border {
  border: 1px solid #000;
  margin: 0 3em;
  border-radius: 1em;
}

.award-box__event-title {
  display: flex;
  flex-direction: column;
}

.award-box__title {
  font-size: 0.75rem;
  font-weight: 300;
}

.award-box__event-title {
  font-size: 0.75rem;
  font-weight: 700;
}

/* Footer */

.footer__container {
  margin: 0 auto;
  background: #333;
  color: rgba(200, 200, 200, 0.65);
}

.footer__container-wrapper {
  padding: 2em 1em;
}

/* MP sponsor banner */

.MP-sponsor__container {
  display: none;
  margin: 0 auto;
  background-image: url(images/manny-sponsorship-bg.png);
  background-position: center;
  background-size: cover;
  color: #fff;
}

.MP-sponsor__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.MP-sponsor__title--secondary {
  font-weight: 400;
}

.MP-sponsor__title--MP-name {
  font-size: 2rem;
}

.temp-class--remove__margin {
  margin: 0;
}

.MP-sponsor__image-wrapper {
  /* margin-top: -70px; */
  margin-top: -5em;
  display: block;
}

.MP-sponsor__image {
  display: block;
  width: 320px;
}

.footer__link {
  text-decoration: none;
  color: rgba(200, 200, 200, 0.65);
  font-weight: 300;
  font-size: 0.75rem;
  font-weight: 400;
}

.footer__link:focus,
.footer__link:hover {
  color: rgba(255, 20, 20, 0.85);
}

.footer__link-border {
  display: none;
  margin: 0;
  border: none;
  border-top: 1px #444 solid;
}

.footer-links__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__link-image {
  display: none;
}

.footer-soc-med__container {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.footer-social-banners__container {
  display: flex;
  /* align-items: center; */
  gap: 1em;
}

.footer-social-banner__image {
  display: block;
  height: 100%;
}

.soc-med-icons__container {
  display: flex;
  flex-direction: column;
}

.soc-med__icons-wrapper {
  display: flex;
}

.soc-med__icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  text-decoration: none;
  font-size: 1.15rem;
  padding: 0.25em;
  color: #ccc;
  width: 2rem;
  aspect-ratio: 1;
}

.soc-med__icons--facebook:hover,
.soc-med__icons--facebook:active {
  background: blue;
}

.soc-med__icons--twitter:hover,
.soc-med__icons--twitter:active {
  background: gray;
}

.soc-med__icons--youtube:hover,
.soc-med__icons--youtube:active {
  background: red;
}

.soc-med__icons--instagram:hover,
.soc-med__icons--instagram:active {
  background: darkblue;
}

.soc-med__icons--linkedin:hover,
.soc-med__icons--linkedin:active {
  background: skyblue;
}

.soc-med__icons--telegram:hover,
.soc-med__icons--telegram:active {
  background: skyblue;
}

.sod-med__follow {
  /* display: inline-block; */
  margin: 0;
  text-align: left;
  font-size: 0.85rem;
}

/* min-width: 768px nav change */

@media (min-width: 768px) {
  .nav__items--small-dots {
    font-size: 0.35rem;
  }

  .awards-box__container {
    flex-direction: row;
    gap: 0.5em;
  }

  .xm-app__container-wrapper {
    flex-direction: row;
  }

  .award-box__container {
    height: 220px;
    min-width: 140px;
    padding: 0;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .MP-sponsor__container {
    display: block;
    /* justify-content: space-between; */
  }

  .MP-sponsor__container-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 1em;
  }

  .xm-app__image {
    width: 350px;
  }

  .footer-soc-med__container {
    display: flex;
  }

  .footer__link-border {
    display: block;
  }

  .footer__link-image {
    display: block;
    height: 100%;
  }
}

@media (min-width: 1200px) {
  /* .MP-sponsor__container { */
  /*   justify-content: space-evenly; */
  /* } */

  /* .sod-med__follow { */
  /*   display: inline-block; */
  /* } */

  .soc-med-icons__container {
    flex-direction: row;
    align-items: center;
  }
}
