body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #444;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* Container */

.container--max-width {
  margin: 0 auto;
}

/* Heading */

.header__container {
  background: #000;
  margin: 0 auto;
  padding: 1.6em 1em;
}

.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__nav-wrapper {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  padding-top: 0.25em;
  margin: 0;
}

.header__xm-homepage-btn {
  display: none;
  padding-right: 3em;
}

.header__english-btn {
  display: none;
  padding-right: 0.25em;
}

.header__home-btn {
  display: flex;
  align-items: center;
}

.header__xm-homepage-btn,
.header__english-btn {
  color: #fff;
  text-decoration: none;
}

.header__nav-items {
  display: flex;
  align-items: center;
  padding: 0 0.65em;
}

.header__nav-dots {
  display: flex;
  font-size: 0.4rem;
  color: #fff;
}

.header__nav-dot {
  padding: 0.25em;
}

.nav__items--home-icon {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.1rem;
}

/* Bonus-offer */

.bonus-offer__container {
  background: #0d192d;
  background-color: #0d192d;
  margin: 0 auto;
}

.bonus-offer__wrapper {
  background-image: url(images/hero-background-xs.webp);
  background-size: cover;
  background-position: bottom center;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5em 0.5em;
  margin: 0 auto;
}

.bonus-offer__heading {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}

.bonus-offer__title {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0;
}

.bonus-offer__info {
  display: none;
  margin: 0;
  margin-top: 2em;
}

.bonus-offer__join {
  margin: 1.75em 0 3em;
}

.bonus-offer__info,
.bonus-offer__join {
  line-height: 1.5;
}

/* Bonus offer open-account new button */

.bonus-offer__open-btn {
  font-family: "Bebas Neue", sans-serif;
  line-height: 1.4;
  background: #29a643;
  margin: 0 auto;
  padding: 0.5em;
  display: block;
  max-width: 300px;
  width: 100%;
}

.bonus-offer__open-label {
  font-size: 1.5rem;
  margin: 0;
}

.bonus-offer__open-info {
  display: block;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  font-size: 0.75rem;
}

.bonus-offer__disclaimer {
  font-size: 0.75rem;
  font-weight: 400;
}

/* XM App */

.xm-app__container {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  margin: 3em auto;
}

.xm-app__body {
  padding-bottom: 3em;
}

.xm-app__title {
  font-size: 1.85rem;
  font-weight: 500;
  /* max-width: 450px; */
}

.xm-app__intro {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
}

.xm-app__items-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 3em 0;
}

.xm-app__intro {
  text-align: left;
  max-width: 300px;
}

.xm-app__item {
  display: block;
  text-align: left;
  list-style-type: none;
  padding: 0.75em 0;
  font-weight: 700;
}

.xm-app__item-icon--green {
  color: green;
}

.xm-app__item-detail {
  padding-left: 0.75em;
  font-size: 1rem;
  font-weight: 600;
}

.xm-app__qr-code {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 95%;
}

.xm-app__qr-image {
  display: block;
  width: 90px;
}

.xm-app__qr-download {
  margin: auto 0;
  padding: 0;
  padding-left: 1em;
  text-align: left;
  max-width: 210px;
}

/* .xm-app__image-wrapper { } */

.xm-app__image {
  display: block;
  max-width: 250px;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 5em;
}

/* Join */

.join__container {
  background-color: #eee;
  padding: 4em 0;
}

.join__container-wrapper {
  margin: 0 auto;
  padding: 0 1em;
}

.join__title,
.join__subtitle {
  text-align: center;
  max-width: 290px;
  margin: 0 auto;
}

.join__title {
  font-size: 1.9rem;
  font-weight: 500;
  /* padding: 2em 0 0.7em; */
  padding: 0 0 0.7em;
}

.join__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 3.75rem;
  margin: 3.75rem 0;
}

.join__item-title {
  font-size: 1.31rem;
}

.join__item-svg {
  width: 51px;
  height: 58px;
}

.join__item-card {
  text-align: left;
  width: 100%;
  max-width: 290px;
  margin: 0 auto;
}

.join__item-subtitle {
  max-width: 250px;
  text-align: left;
}

.join__item-open-btn {
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  line-height: 1.4;
  display: block;
  max-width: 300px;
  width: 100%;
  background: #29a643;
  padding: 0.5em;
  text-align: center;
  margin: 0 auto;
}

.join__item-open-label {
  font-size: 1.5rem;
  margin: 0;
}

.join__item-open-info {
  display: block;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  font-size: 0.75rem;
}

.join__item-disclaimer {
  font-size: 0.75rem;
  font-weight: 400;
  text-align: center;
}

/* @media (min-width: 768px) { */
/*   .join-item__container--row { */
/*     flex-direction: row; */
/*   } */
/* } */

/* Awards */
.award__container {
  margin: 0 auto;
  padding: 0 1em 4.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.award__title {
  font-size: 1.9rem;
  font-weight: 500;
  margin: 0;
  padding: 2.6em 0 0.65em;
  /* max-width: 720px; */
}

.award__subtitle {
  line-height: 1.4;
  margin: 0;
  padding-bottom: 4.7em;
}

.award__box-image {
  display: block;
  width: 100%;
}

/* .award__container-wrapper { */
/*   display: flex; */
/*   flex-direction: column; */
/*   align-items: center; */
/*   text-align: center; */
/* } */

.award__boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.award__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 230px;
  width: 210px;
  padding: 2em;
  margin-bottom: 1em;
  background: rgba(240, 240, 240, 0.85);
  border-radius: 10px;
}

.award__box-line-border {
  border: 1px solid #000;
  margin: 0 3em;
  width: 50px;
}


.award__box-title {
  font-size: 0.75rem;
  font-weight: 400;
  max-width: 120px;
}

.award__box-event {
  font-size: 0.75rem;
  font-weight: 700;
}

/* Footer */

.footer__container {
  /* margin: 0 auto; */
  background: #333;
  color: #888;
}

.footer__container-wrapper {
  /* padding: 2em 1em 0 1em; */
  padding: 1.5em 1em 3em 1em;
}

/* MP sponsor banner */

.MP-sponsor__container {
  display: none;
  margin: 0 auto;
  background-image: url(images/manny-sponsorship-bg.png);
  background-position: center;
  background-size: cover;
  color: #fff;
}

.MP-sponsor__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.MP__subtitle,
.MP-sponsor__boxing-title {
  font-weight: 400;
}

.MP-sponsor__name {
  font-size: 2rem;
}

.MP-sponsor__subtitle,
.MP-sponsor__name,
.MP-sponsor__boxing-title {
  margin: 0;
}

.MP-sponsor__image-wrapper {
  margin-top: -4.4em;
  display: block;
}

.MP-sponsor__image {
  display: block;
  width: 320px;
}

.footer__policy {
  text-decoration: none;
  color: rgba(200, 200, 200, 0.65);
  padding-left: 0.5em;
  font-size: 0.75rem;
  font-weight: 400;
}

.footer__vertical-bar {
  padding-left: 0.5em;
}

.footer__policy:focus,
.footer__policy:hover {
  color: rgba(255, 20, 20, 0.85);
}

.footer__info {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.4;
  margin: 2em 0;
}

.footer__seperator {
  display: none;
  margin: 0;
  border: none;
  border-top: 1px #444 solid;
}

.footer__policies {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* padding: 0.75em 0; */
}

.footer__trading-point {
  display: none;
}

.footer__socmed-wrapper {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
}

.footer__socmed-banners {
  display: flex;
  align-items: center;
  gap: 1em;
}

.footer__socmed-banner {
  display: block;
  height: 100%;
}

.footer__socmed-icons-wrapper {
  display: flex;
  flex-direction: column;
}

.footer__socmed-icons {
  display: flex;
}

.footer__socmed-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  text-decoration: none;
  font-size: 1.15rem;
  padding: 0.25em;
  color: #ccc;
  width: 2rem;
  aspect-ratio: 1;
}

.footer__socmed-icon--facebook:hover,
.footer__socmed-icon--facebook:active {
  background: blue;
}

.footer__socmed-icon--twitter:hover,
.footer__socmed-icon--twitter:active {
  background: gray;
}

.footer__socmed-icon--youtube:hover,
.footer__socmed-icon--youtube:active {
  background: red;
}

.footer__socmed-icon--instagram:hover,
.footer__socmed-icon--instagram:active {
  background: darkblue;
}

.footer__socmed-icon--linkedin:hover,
.footer__socmed-icon--linkedin:active {
  background: skyblue;
}

.footer__socmed-icon--telegram:hover,
.footer__socmed-icon--telegram:active {
  background: skyblue;
}

.footer__socmed-follow {
  /* display: inline-block; */
  margin: 0;
  text-align: left;
  font-size: 0.85rem;
}

/* min-width: 768px nav change */

@media (min-width: 768px) {
  .container--max-width {
    max-width: 720px;
  }

  .header__nav-dots {
    font-size: 0.35rem;
  }

  .xm-app__container {
    color: #252525;
    flex-direction: row;
    justify-content: space-between;
    margin: 5em auto;
    padding: 0;
  }

  .xm-app__body {
    max-width: 50%;
  }

  .xm-app__qr-code {
    justify-content: flex-start;
  }

  .xm-app__image {
    height: 100%;
    /* width: 300px; */
  }

  .header__xm-homepage-btn {
    display: block;
  }

  .nav__items--home-icon {
    display: none;
  }

  .header__english-btn {
    display: block;
  }

  .join__items {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .bonus-offer__info {
    display: block;
  }

  .bonus-offer__join {
    margin-top: 0;
  }

  .bonus-offer__wrapper {
    background-image: url(images/hero-background.webp);
    padding: 8em 0;
  }

  .bonus-offer__title {
    font-size: 2.8rem;
  }

  .join__title,
  .join__subtitle {
    max-width: 421px;
  }

  .join__container-wrapper {
    padding: 0 3em;
  }

  .join__item-card {
    /* padding: 0 3em; */
    width: 45%;
  }

  .award__boxes {
    flex-direction: row;
    align-items: baseline;
    gap: 0.25em;
  }

  .award__box {
    height: 220px;
    width: 150px;
    /* padding: 0 0.25em; */
    padding: 0;
  }

  .award__box-image {
    width: 100px;
  }

  .footer__container-wrapper {
    padding: 1.5em 0 3em 0;
  }
}

@media (min-width: 992px) {
  .container--max-width {
    max-width: 940px;
  }

  .MP-sponsor__container {
    display: block;
  }

  .MP-sponsor__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 1em;
  }

  .xm-app__image {
    width: 350px;
  }

  .xm-app__intro {
    max-width: 450px;
  }

  .footer__socmed-wrapper {
    display: flex;
  }

  .footer__seperator {
    display: block;
  }

  .footer__trading-point {
    display: flex;
    margin-left: auto;
    height: 100%;
  }

  .bonus-offer__wrapper {
    max-width: 940px;
  }

  .join__item-card {
    width: 29%;
    margin: 0;
  }

  .join__title,
  .join__subtitle {
    max-width: 100%;
  }

  .join__container-wrapper {
    padding: 0;
  }

  .award__boxes {
    gap: 2em;
  }

  .award__box {
    min-width: 150px;
    width: 100%;
  }

  .award__box-title {
    max-width: 100%;
  }

  .award__box-image {
    width: 100%;
  }

  .footer__container-wrapper {
    padding: 0;
    padding-bottom: 3em;
  }

  .footer__policies {
    padding: 0.75em 0;
  }
}

@media (min-width: 1200px) {
  .container--max-width {
    max-width: 1140px;
  }

  .footer__socmed-icons-wrapper {
    flex-direction: row;
    align-items: center;
  }

  .bonus-offer__wrapper {
    max-width: 1140px;
  }

  .award__boxes {
    gap: 5em;
  }
}
