body {
  margin: 0;
  overflow-x: hidden;
}

.tech-tips__body,
.tech-tips__read-duration {
  font-family: Source Sans Pro;
}

.tech-tips__image {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.tech-tips__title {
  color: #05cbe9;
  font-weight: 700;
  font-family: Blinker;
  font-size: 1.75rem;
  margin: 0;
}

.tech-tips__wrapper {
  display: flex;
  flex-direction: column;
  background: #111d4a;
  padding: 1.5em;
}

.tech-tips__body {
  color: #fff;
  letter-spacing: 1.5px;
  font-size: 1rem;
}

.tech-tips__read-duration {
  font-family: Blinker;
  color: #fff;
  opacity: 0.6;
  margin: 0;
}

.tech-tips__read-value {
  display: block;
  font-weight: 700;
  font-size: 1.5rem;
}

.tech-tips__read-more-btn {
  /* display: block; */
  text-decoration: none;
  color: #111d4a;
  background: #05cbe9;
  font-family: Blinker;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.5em 1em;
}

.tech-tips__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 3em;
}

.tech-tips__card {
  margin: 0 auto;
}

.tech-tips__card-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media (min-width: 480px) {
  .tech-tips__card-wrapper {
    flex-direction: row;
    max-width: 720px;
  }

  .tech-tips__image {
    height: 100%;
    width: 250px;
  }

  .tech-tips__footer {
    margin-top: auto;
  }
}
