body {
  margin: 0;
  font-size: 16px;
  font-family: 'lato', sans-serif;
  font-weight: 400;
  background: #2e354f;
}

* {
  box-sizing: border-box;
}

.box {
  border: 1px solid #2e354f;
}

.container {
  width: 620px;
  margin: 0 auto;
  border: 2px solid magenta;
}

.box__header {
  padding: 45px 0;
}

.box__title {
  font-size: 36px;
  color: #fff;
  padding: 40px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 18px;
}

.box__section--one {
  background: #fff;
  padding: 45px 0;
  color: black;
}

.box__image {
  width: 100%;
}

.box__subtitle {
  margin: 0;
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: 900;
  color: #ef5839;
}

.box__section--two {
  color: #fff;
  padding: 45px 0;
}

.box__paragraph {
  font-size: 18px;
}

.btn {
  margin-right: 15px;
  padding: 15px 40px;
  display: inline-block;
  font-weight: 900;
  text-decoration: none;
}

.btn:hover {
  background: gray;
}

.btn--white {
  background: #fff;
  color: black;
}

.btn--accent {
  background: #ef5839;
  color: #fff;
}

.strong {
  font-weight: 900;
}

.strong--dark {
  color: #2e354f;
}

.box__link {
  color: #ef5839;
  text-decoration: none;
}
