body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.125rem;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

/* Typography */

.header__title {
  margin: 0;
  color: #143774;
  font-size: 2rem;
  font-family: 'Lora';
  font-weight: 400;
}

.article-main__title {
  font-size: 1.5rem;
  font-family: 'Lora';
}

.article-main__content {
  font-family: 'Ubuntu';
  font-size: 1.125rem;
  font-weight: 400;
}

.article-preview__title {
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Lora';
  font-weight: 700;
}

.article-preview__info {
  font-family: 'Ubuntu';
  font-size: 0.875rem;
  font-weight: 400;
}

.continue-reading {
  font-family: 'Ubuntu';
  font-size: 0.875rem;
  font-weight: 700;
  color: #1792d2;
  text-decoration: none;
}

.continue-reading:hover,
.continue-reading:focus {
  text-decoration: underline;
  color: #143774;
}

/* Header */

.header__container {
  padding: 1em;
  background: #f8f8f8;
}

.header-name__wrapper {
  padding: 1em;
}

.header__subtitle {
  margin: 0;
  color: #1792d2;
  font-size: 0.75rem;
}

.nav__ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  color: #707070;
  font-size: 1rem;
}

.nav__link:hover {
  color: #1792d2;
}

.nav__link:focus {
  color: #1792d2;
}

.nav__li {
  list-style: none;
  /* width: 30%; */
  padding: 0.5em;
}

@media (min-width: 768px) {
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav__ul {
    display: flex;
  }

  @media (min-width: 1200px) {
    .header__container {
      padding: 1em 5em;
    }

    @media (min-width: 1440px) {
      .header__container {
        padding: 2em 10em;
      }
    }
  }

  /* Main */
  .main__container {
    padding: 2em 0;
  }

  .main__wrapper {
    display: flex;
    flex-direction: column;
    padding: 2em;
  }

  .current-page:hover {
    color: #707070;
  }

  .article-main__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 3em;
  }

  .article-preview__container {
    padding-bottom: 1.5em;
    display: block;
    width: 100%;
  }

  .article-preview__info {
    margin: 0;
    padding: 0.5em;
  }

  .side-pane__container {
    padding: 2em 0;
  }

  .article-preview__main-pane {
    padding: 0.5em;
  }

  .flex-justify-center {
    justify-content: center;
  }

  .flex-justify-start {
    justify-content: flex-start;
  }

  .about-me__container {
    padding: 1em;
    border: 20px solid #ebebeb;
    margin-bottom: 2em;
  }

  .recent-posts__container {
    border: 20px solid #ebebeb;
  }

  .about-me__title {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 1.125rem;
  }

  .recent-posts__title {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 1.125rem;
    margin: 0 auto;
    padding: 0.25em;
  }

  .recent-post__subheading {
    font-family: 'Ubuntu';
    font-size: 0.75rem;
    font-weight: 700;
  }

  .recent-posts__wrapper {
    margin: 0;
    padding: 0.5em;
  }

  @media (min-width: 768px) {
    .main__container {
      display: flex;
      justify-content: center;
      padding: 2em;
    }

    .side-pane__container {
      width: 30%;
    }

    .main__wrapper {
      width: 70%;
    }

    .article-preview__container {
      display: flex;
    }

    .article-preview__left-pane {
      width: 30%;
    }

    .article-preview__main-pane {
      width: 70%;
    }
  }

  @media (min-width: 1200px) {

    .main__container {
      padding: 5em;
    }

    .main__wrapper {
      width: 65%;
    }

    .side-pane__container {
      width: 35%;
    }
  }
}
