body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.125rem;
}

* {
  box-sizing: border-box;
}

/* Typography */

.article-main__title {
  font-size: 1.5rem;
  font-family: 'Lora';
}

.article-main__content {
  font-family: 'Ubuntu';
  font-size: 1.125rem;
  font-weight: 400;
}

.article-preview__title {
  font-size: 1.5rem;
  font-family: 'Lora';
  font-weight: 700;
}

.article-preview__info {
  font-family: 'Ubuntu';
  font-size: 0.875rem;
  font-weight: 400;
}

.continue-reading {
  font-family: 'Ubuntu';
  font-size: 0.875rem;
  font-weight: 700;
  color: #1792d2;
  text-decoration: none;
}

.continue-reading:hover,
.continue-reading:focus {
  text-decoration: underline;
  color: #143774;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__container {
  width: 90%;
  padding: 5em;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  /* max-width: 900px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name__wrapper {
  display: flex;
  flex-direction: column;
}

.header__title {
  margin: 0;
  color: #143774;
  font-size: 2rem;
  font-family: 'Lora';
  font-weight: 400;
}

.header__subtitle {
  margin: 0;
  color: #1792d2;
  font-size: 0.75rem;
  /* font-family: 'Ubuntu bold'; */
}

.nav__ul {
  display: flex;
  margin: 0;
  padding: 0;
  /* border: 1px solid pink; */
}

.nav__link {
  text-decoration: none;
  color: #707070;
  /* font-family: 'Ubuntu bold'; */
  font-size: 1rem;
}

.nav__link:hover {
  color: #1792d2;
}

.nav__link:focus {
  color: #1792d2;
}

.nav__li {
  list-style: none;
  /* width: 30%; */
  padding: 0.5em;
}

@media (max-width: 675px) {
  .nav__ul {
    /* margin: 0; */
    flex-direction: column;
    align-items: center;
  }

  .header__container {
    flex-direction: column;
  }

  .header__nav {
    padding-top: 2em;
    width: 100%;
  }
}

.main__container {
  display: flex;
  justify-content: center;
  border: 2px solid #f00;
  padding: 2em 0;
}

/* TODO: continue with fixing padding of main */
.main__wrapper {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 2em;
  border: 2px solid green;
}

.current-page {
  border-bottom: 1px solid #707070;
}

.current-page:hover {
  color: #707070;
}

.article-main__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3em 0;
}

.article-main__image {
  width: 100%;
  contain: cover;
}

.article-preview__container {
  display: flex;
  border: 1px solid pink;
}

.article-preview__image {
  height: 5em;
}

.side-pane__container {
  width: 10%;
  padding: 2em 0;
  border: 2px solid blue;
}

.article-preview__image {
  width: 10em;
  contain: cover;
}

.side-pane__image {
  width: 100%;
  contain: cover;
}

.recent-posts__image {
  width: 100%;
  contain: cover;
}

.about-me__container {
  padding: 1em;
  border: 20px solid #ebebeb;
  margin-bottom: 2em;
}

.recent-posts__container {
  border: 20px solid #ebebeb;
}
