body {
  margin: 0;
  font-size: 1.125rem;
}

* {
  box-sizing: border-box;
}


/* Typography */

/* Layout */

.box {
  max-width: 980px;
  width: 95%;
  margin: 0 auto;
  border: solid 2px blue;
}

.box__image {
  max-width: 100%;
}

.box__row {
  display: flex;
  /* flex-grow: 1; */
  border: solid 2px magenta;
  justify-content: space-between;
}

.box__column {
  padding: 1em;
  border: 2px solid #f00;
}

.box__column--bg {
  background: #212614;
  color: #fff;
}

.box__column--col-1 {
  width: 20%;
}

.box__column--col-2 {
  width: 45%;
}

.box__column--col-3 {
  width: 70%;
}


@media (max-width: 600px) {
  .box__row {
    flex-direction: column;
  }

  .box__column {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
}
